<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="css/styles.css" />
  <title>Contato | Dev Burguer</title>
</head>

<body>
  <header>
    <a href="/" class="box-header">
      <img src="/images/logo.png" alt="Logo Dev Burguer" />
      <span>Dev Burguer</span>
    </a>
    <nav class="menu-header">
      <a class="menuLink" href="/">Home</a>
      <a class="menuLink" href="/#sugestao">Sugestão</a>
      <a class="menuLink" href="/contato" class="active">Contato</a>
    </nav>
  </header>

  <main class="formulario-container">
    <h1 id="agradecimento">Obrigado!</h1>
    <p><strong>Assunto: Sugestão de burguer!</strong> <span id="assunto"></span></p>
  </main>

  <footer>
    All Rights Reserved
  </footer>

  <script>
    function getQueryParam(param) {
      const params = new URLSearchParams(window.location.search);
      return params.get(param) || '';
    }

    document.addEventListener('DOMContentLoaded', () => {
      const nome = getQueryParam('nome');

      document.getElementById('agradecimento').textContent = `Obrigado, ${nome}!`;
    });
  </script>
</body>
</html>
