<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="css/styles.css" />
  <title>Contato | Dev Burguer</title>
</head>
<body>
  <header>
    <a href="/" class="box-header">
      <img src="/images/logo.png" alt="Logo Dev Burguer" />
      <span>Dev Burguer</span>
    </a>
    <nav class="menu-header">
      <a class="menuLink" href="/">Home</a>
      <a class="menuLink" href="/#sugestao">Sugestão</a>
      <a class="menuLink" href="/contato" class="active">Contato</a>
    </nav>
  </header>

  <main>
    <section class="formulario-contato">
      <h1>Entre em Contato</h1>

      <form action="/contato" method="POST" class="formulario">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required />

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required />

        <label for="assunto">Assunto:</label>
        <input type="assunto" id="assunto" name="assunto" required />

        <label for="mensagem">Mensagem:</label>
        <textarea id="mensagem" name="mensagem" rows="4" required></textarea>

        <button type="submit">Enviar Mensagem</button>
      </form>
    </section>
  </main>

  <footer>
    All Rights Reserved
  </footer>
</body>
</html>
