<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" />
    <title>Dev Burguer</title>
</head>

<script>
  async function carregarLanches() {
    const resposta = await fetch('/api/lanches');
    const lanches = await resposta.json();
    const menuSection = document.querySelector('.menu');
    menuSection.innerHTML = `<h2>Os Mais Vendidos do Ifood :)</h2>`; // limpa e recria

    lanches.forEach(lanche => {
      const produto = document.createElement('div');
      produto.classList.add('produto');

      produto.innerHTML = `
        <div class="detalhes">
          <h3>${lanche.nome}</h3>
          <p>${lanche.descricao}</p>
          <strong>A partir de ${lanche.preco}</strong>
        </div>
        <img src="${lanche.imagem}" alt="${lanche.nome}">
      `;

      menuSection.appendChild(produto);
    });
  }
  window.addEventListener('DOMContentLoaded', carregarLanches);
</script>

<body>
    <header>
        <a href="" class="box-header">
            <img src="/images/logo.png" alt="">
            <span>Dev Burguer</span>
        </a>
        <nav class=menu-header>
            <a class=menuLink href="#" class="active">
                Home
            </a>
            <a class=menuLink href="#">
                Sugestão
            </a>
            <a class=menuLink href="contato">
                Contato
            </a>
        </nav>
    </header>
    <main>

        <section class="menu">
            <h2>Os Mais Vendidos do Ifood :)</h2>
            <!-- Inserção dinamica do cardapio -->
        </section>

        <h1>Sugestão</h1>

        <form id="form-sugestao" class="formulario" method="GET" action="/sugestao">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" required />

          <label for="ingredientes">Ingredientes:</label>
          <textarea id="ingredientes" name="ingredientes" required></textarea>

          <button type="submit">Enviar Sugestão</button>
        </form>
    </main>
    <footer>
        All Rights Reserved
    </footer>
</body>
</html>